---
---
<!-- Look the author details up from the site config. -->
{% assign author = site.data.authors[page.author] %}

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
            Article Image
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
                {% if author %}
                <div class="author-image" style="background-image: url({{ author.image }})">Author Avatar</div>
                <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <a href="{{author.web}}" target="_blank">{{ author.name }}</a>
                </h4>
                {% endif %}
                , tagged with :
                {% for tag in page.tags %}
                  <span class="post-tag post-tag-{{tag}}">
                    <a href="/tag/{{tag}}">#{{tag}}</a>
                    {% unless forloop.last %} ,{% endunless %}
                  </span>
                {% endfor %}
            </div>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
                {% if author %}
                <div class="author-image" style="background-image: url({{ author.image }})">Author Avatar</div>
                <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <a href="{{author.web}}" target="_blank">{{ author.name }}</a>
                </h4>
                {% endif %}
                , tagged with :
                {% for tag in page.tags %}
                  <span class="post-tag post-tag-{{tag}}">
                    <a href="/tag/{{tag}}">#{{tag}}</a>
                    {% unless forloop.last %} ,{% endunless %}
                  </span>
                {% endfor %}
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
        </section>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="/" class="btn">Back to Overview</a>
      </div>
    </div>
    {% include javascripts.html %}
  </body>
</html>
